import { FaSearch, FaEllipsisV } from 'react-icons/fa';
import './compromisos.css'

const SeguiCompro = () => {
    return (
        <div className='fichas-container'>
            <h1 className='historial-title'>Seguimientos y Compromisos</h1>
            <div className='filters'>
                <div className='search-box'>
                    <FaSearch className='icon' />
                    <input type='text' placeholder='Buscar por aprendiz o caso...' />
                </div>
                <button className='filter-btn'>
                    Filtrar
                </button>
            </div>
            {/*tabla de registros*/}
            <table className='historial-table'>
                <thead>
                     <tr>
                        <th>ID</th>
                        <th>Aprendiz</th>
                        <th>Compromiso</th>
                        <th>Fecha límite</th>
                        <th>Estado</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>01</td>
                        <td>Juan Pérez</td>
                        <td>Presentar evidencia del proyecto</td>
                        <td>10/12/2025</td>
                        <td className="estado pendiente">Pendiente</td>
                        <td>
                            <button className="btn-opciones">
                                <FaEllipsisV />
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    )
}

export default SeguiCompro