.forgot-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    background: #e8e8e8;
    place-items: center;
}

.forgot-box {
    width: 380px;
    background: #f5f5f5;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 12px rgba(0,0,0,0.1);
    text-align: center;
}

.forgot-box h2 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #333;
}

.forgot-text {
    font-size: 14px;
    color: #666;
    margin-bottom: 25px;
    line-height: 1.5;
}

.inputs {
    text-align: left;
    margin-bottom: 20px;
}

.inputs label {
    font-size: 14px;
    font-weight: 600;
}

.inputs input {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
}

.forgot-btn {
    width: 100%;
    padding: 12px;
    border: none;
    background: #2e7d32;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 15px;
    transition: 2s;
}

.forgot-btn:hover {
    background: #256828;
}

.back-login {
    font-size: 14px;
    text-decoration: none;
    color: #2e7d32;
}

.back-login:hover {
    text-decoration: underline;
}