.progs-container {
    padding: 20px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.filters-prog {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 8px;
  background: #fff;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  border: 1px solid grey;
}

.prog-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 8px;
}

.prog-card {
    background: #ffffff;
    border: 2px solid #e0e0e0;
    padding: 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.prog-title {
    font-size: 15px;
    font-weight: bold;
}

.prog-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.line-short {
  width: 60%;
}

.filters-progs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 8px;
  background: #fff;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  border: 1px solid grey;
}

.ver-fichas {
    background: #377c2b;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    width: fit-content;
}

.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
}

.modal-content {
    width: 450px;
    background: white;
    padding: 25px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    animation: fadeIn 0.2s ease-in-out;
}

.modal-title {
    font-size: 20px;
    font-weight: bold;
}

.modal-section h4{
    margin-bottom: 10px;
}

.ficha-card {
    border: 2px solid #e0e0e0;
    padding: 10px;
    border-radius: 8px;
    background: #fdfdfd;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.btn-close {
    padding: 10px;
    background: #dc3445;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}

.btn-close:hover {
    opacity: 0.9;
}

/* Animación suave */
@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.95); }
    to { opacity: 1; transform: scale(1); }
}