.ui-sidebar {
    width: 235px;
    background: #ffffff;
    border-right: 1px solid #ddd;
    padding: 18px;
    display: flex;
    flex-direction: column;
}

.ui-sidebar-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 25px;
}

.ui-sena-icon {
    font-size: 22px;
    color: #2f7d2e;
}

.ui-menu button,
.ui-lower-menu button {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    background: none;
    border: none;
    text-align: left;
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    color: #333;
}

.ui-menu button.active {
    background: #2f7d2e;
    color: #fff;
}

.ui-menu button:hover {
    background: #e9e9e9;
}

.ui-sidebar-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 16px;
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: #333;
    background-color: transparent;
    border-radius: 6px;
    width: 100%;
    transition: 0.2s ease-in-out;
}

.ui-sidebar-item:hover {
    background-color: #e6e6e6;
}

.ui-sidebar-item.active,
.ui-dropdown-item.active {
    background-color: #377c2b;
    color: white !important;
    font-weight: 700;
}

.ui-arrow {
  transition: transform .2s ease;
}

.ui-arrow.rotated {
  transform: rotate(180deg);
}

.ui-dropdown-content {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 6px;
}

.ui-dropdown-item {
  padding: 10px 12px;
  border-radius: 6px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.ui-dropdown-item:hover {
  background: #efefef;
}

.ui-lower-menu {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.ui-sidebar-footer {
  margin-top: 20px;
  text-align: center;
  opacity: 0.3;
}

.ui-footer-logo {
  font-size: 45px;
  font-weight: bold;
  color: #2f7d2e;
}
