body {
    color: #000;
}

.contenedor {
  width: 100%;
  background: #f5f6fa;
}

.contenedor-padding {
  /* width: 95%;x */
  max-width: 1300px;
  padding: 20px 0;
}

.basic-data-form,
.residence-form {
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.07);
  margin-bottom: 25px;
}

.basic-data-form h3,
.residence-form h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  color: #222;
}

.basic-data-form p,
.residence-form p {
  margin-top: 4px;
  color: #666;
  font-size: 14px;
}

.container-first,
.container-second,
.container-third,
.container-fourth,
.container-fifth,
.container-sixth,
.container-seventh,
.scontainer-first,
.scontainer-second {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 18px;
  margin-top: 18px;
}

.group-form {
  display: flex;
  flex-direction: column;
}

.title-camps {
  font-size: 14px;
  margin-bottom: 5px;
  color: #222;
}

.input select,
.input input {
  width: 100%;
  padding: 10px 12px;
  font-size: 14px;
  border: 1px solid #dcdcdc;
  border-radius: 6px;
  background: #fff;
  color: #333;
  transition: border 0.2s ease;
}

.input select:focus,
.input input:focus {
  border: 1px solid #216d16;
  outline: none;
}

.input-readonly {
  background: #f0f0f0 !important;
  cursor: not-allowed;
  color: #666;
}

.container-btn {
  display: flex;
  justify-content: end;
  gap: 15px;
  margin-top: 25px;
}

.btn-cancel,
.btn-update {
  padding: 10px 22px;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
  border: none;
  transition: 0.2s;
}

.btn-cancel {
  background: #d2d2d2;
  color: #333;
}

.btn-cancel:hover {
  background: rgb(146, 146, 146);
}

.btn-update {
  background: #07820f;
  color: #fff;
}

.btn-update:hover {
  background: #034307;
}

@media (max-width: 768px) {
  .contenedor-padding {
    padding: 10px;
  }

  .container-btn {
    justify-content: center;
  }
}