* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-top {
  padding-bottom: 3.5%;
  background-color: rgba(245, 245, 245, 1);
  
}

.grid-de-prueba {
  display: grid;
  grid-template-columns: 1fr 3.5fr;
}

.menu-left {
  background-color: rgba(245, 245, 245, 1);
}

.informacion {
  padding: 6%;
  margin-left: -240px;
  margin-top: -80px;
}

.contenedor-initiall {
  display: flex;
  align-items: center;
  gap: 2%;
}

.btnLeft {
  border: 1px solid #b6b6b6;
  padding: 6px 6px 2px 6px;
  background-color: #fff;
  border-radius: 10px;
  transition: 0.3s ease;
}

.btnLeft:hover {
  transform: scale(1.1);
  box-shadow: 2px 2px 5px #cfcfcf;
  cursor: pointer;
}