* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.containers {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  /* width: 68.5vw; */
  margin: 4% 0;
}

.carta-de-seguridad {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #fcfcfc;
}

.containers h2 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  color: #222;
}

.info-de-seguridad {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-grow: 1;
  /* padding: 20px; */
}

.icon-de-seguridad {
  font-size: 1.5em;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 60px; */
  /* height: 60px; */
  border-radius: 5px;
  background-color: #f0f0f0;
  /* color: #333; */
  width: 50px;
  height: 50px;
  /* margin: 10px; */
  /* padding: 20px; */
}


.descripcion-de-seguridad {
  margin-top: 0.5%;
  margin-bottom: 1.5%;
  font-size: 0.9em;
  color: #666;
}

.lista-de-seguridad {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.btn-de-seguridad {
  padding: 8px 15px;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  background-color: #0b4700;
  color: #ffffff;
  font-weight: 500;
  cursor: pointer;
  white-space: nowrap;
  transition: background-color 0.2s ease, border-color 0.2s ease;
}

.btn-de-seguridad:hover {
  background-color: #3a9d2f;
  border-color: #c0c0c0;
}